.navbar{
    background-image:url("../images/videoblocks.png")!important;
    background-repeat: no-repeat;
    background-size: 100%;  
    position: relative;


}
.navbar-brand{
    color:white!important;
    text-align: center!important;
    margin-left:50% !important;
}
.navbar-nav{
    color:white;
    margin-left: 0%!important;
}
.nav-item{
    color: #fff !important;;
    margin: 0 2%;
    
}
.nav-link{
    color:#fff;
}
