html body {
  background-color: #ffffcc;

}

.navbar{ 
  background-image: url("../images/fon.png"); 
  background-repeat: no-repeat;
  background-size: 100%;
  
  width: 100%;
  height: 122px;
  left: 0px;
  top: 0px;
  
  position: relative;
  font-family: 'Caveat';
  font-size: 16px;
  line-height: 1.6;

  flex-direction: row ;
} 
 

.nav-link , .navbar-brand{
  position: absolute;
  left: 0%;
  right: 95.6%;
  top: 9.02%;
  bottom: 17.21%;
  color:#FFFFFF
 }
 .nav-link{
  margin-right: 1em !important;
 }
 .nav-link:hover{

  color: #f97300;
 }
 .navbar-collapse{
  justify-content: flex-end;
 }
 .navbar-toggler{
   background:#fff !important;
 }
 
 .btn{ 
position: absolute;
font-family: Caveat;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
color: #FFFE;
cursor: pointer;
 }
 

 .table{
position:absolute;
margin-top: 0%;
margin-left:0%;
color: #379683;
background-color: #FFFFFF;
top: 50px;
} 
 
.search-table{
  padding: 10%;
  margin-top: 7%;
  margin-left: 0%;
}

.search-box{

padding: 1%;
width: 100%;
background:linear-gradient(180deg, #8EE4AF 0%, #379683 100%); ;
border-radius: 10px;
background-size: 100%;
position: relative;
height: 64px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box input:focus{
  display: inline-block;
  margin-left: 0%;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  }
.search-list{
    border-top: none;
    margin-top:0%;
}
